* text=auto

.github/ export-ignore
tests/ export-ignore

.codecov.yml export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.scrutinizer.yml
.styleci.yml export-ignore
phpunit.yml export-ignore
